In [6]:
# Spark Session
from pyspark.sql import SparkSession

spark = (
    SparkSession
    .builder
    .appName("Reading Complex Data Formats")
    .master("local[*]")
    .getOrCreate()
)

spark

In [7]:
df_parquet = spark.read.format("parquet").load("data/input/sales_total_parquet/*.parquet")

In [9]:
df_parquet.printSchema()

root
 |-- transacted_at: timestamp (nullable = true)
 |-- trx_id: integer (nullable = true)
 |-- retailer_id: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- amount: double (nullable = true)
 |-- city_id: integer (nullable = true)

In [10]:
df_parquet.show()

+-------------------+----------+-----------+--------------------+-------+----------+
|      transacted_at|    trx_id|retailer_id|         description| amount|   city_id|
+-------------------+----------+-----------+--------------------+-------+----------+
|2017-12-20 20:00:00| 561803551| 2077350195|Walgreen  ccd id:...|  69.66| 350411713|
|2017-12-10 22:00:00| 966498100| 1232435973|Toys R Us   ccd i...|  16.44|1554564545|
|2017-12-19 17:00:00|  40380012| 1898522855|Target   arc id: ...|2854.84| 920189167|
|2017-12-19 19:00:00|1735489522|  847200066|unkn     ccd id: ...| 280.31|2011632272|
|2017-01-11 14:00:00|1513345631| 1953761884|Home Depot   arc ...|  20.51|1528300441|
|2017-12-24 23:00:00| 884145953| 2001148981|Costco  ccd id: 4...|  11.75|2116046074|
|2017-05-14 19:00:00|1003554030| 1903529855|                unkn|  61.76|1710668653|
|2017-12-24 19:00:00| 921164309|  847200066|unkn   ppd id: 95...|  27.83|2074005445|
|2017-12-16 17:00:00| 549217139| 1070485878|          Amazon.com|  12.21| 516488916|
|2017-11-26 19:00:00| 719363881|  847200066|unkn     ccd id: ...|  67.32|2055198208|
|2017-12-09 18:00:00|  85469564|  151850986|unkn    arc id: 1...| 383.43| 675146248|
|2017-11-28 21:00:00| 634593938| 2001148981|              Costco|1663.99|2031527420|
|2017-12-22 18:00:00| 425891861| 1817581369|unkn     arc id: ...|   17.0|2065205159|
|2017-12-18 12:00:00|1524523277|  860355551|   Sonic       12-19|   0.93|1410131357|
|2017-08-30 18:00:00| 348239856| 1768219832|unkn     arc id: ...|  40.35| 481821583|
|2017-11-23 20:00:00|1818459158| 1232435973|Toys R Us     arc...| 2472.7| 814348903|
|2017-12-04 13:00:00| 389577000| 1647858807|Verizon Wireless ...|   71.9|1439918695|
|2017-11-26 12:00:00|1096904243|  865681996|Nordstrom   ccd i...| 1666.2|1107275933|
|2017-12-24 21:00:00| 442311947|  400404203|  CVS       Ashgabat|   0.73| 957346984|
|2017-12-21 13:00:00|1124093234| 1076023740|Aldi  ccd id: 543...|  25.97|1296036143|
+-------------------+----------+-----------+--------------------+-------+----------+
only showing top 20 rows

In [12]:
df_orc = spark.read.format("orc").load("data/input/sales_total_orc/*.orc")
df_orc.printSchema()

root
 |-- transacted_at: timestamp (nullable = true)
 |-- trx_id: integer (nullable = true)
 |-- retailer_id: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- amount: double (nullable = true)
 |-- city_id: integer (nullable = true)

In [13]:
df_orc.show()

+-------------------+----------+-----------+--------------------+-------+----------+
|      transacted_at|    trx_id|retailer_id|         description| amount|   city_id|
+-------------------+----------+-----------+--------------------+-------+----------+
|2017-12-20 20:00:00| 561803551| 2077350195|Walgreen  ccd id:...|  69.66| 350411713|
|2017-12-10 22:00:00| 966498100| 1232435973|Toys R Us   ccd i...|  16.44|1554564545|
|2017-12-19 17:00:00|  40380012| 1898522855|Target   arc id: ...|2854.84| 920189167|
|2017-12-19 19:00:00|1735489522|  847200066|unkn     ccd id: ...| 280.31|2011632272|
|2017-01-11 14:00:00|1513345631| 1953761884|Home Depot   arc ...|  20.51|1528300441|
|2017-12-24 23:00:00| 884145953| 2001148981|Costco  ccd id: 4...|  11.75|2116046074|
|2017-05-14 19:00:00|1003554030| 1903529855|                unkn|  61.76|1710668653|
|2017-12-24 19:00:00| 921164309|  847200066|unkn   ppd id: 95...|  27.83|2074005445|
|2017-12-16 17:00:00| 549217139| 1070485878|          Amazon.com|  12.21| 516488916|
|2017-11-26 19:00:00| 719363881|  847200066|unkn     ccd id: ...|  67.32|2055198208|
|2017-12-09 18:00:00|  85469564|  151850986|unkn    arc id: 1...| 383.43| 675146248|
|2017-11-28 21:00:00| 634593938| 2001148981|              Costco|1663.99|2031527420|
|2017-12-22 18:00:00| 425891861| 1817581369|unkn     arc id: ...|   17.0|2065205159|
|2017-12-18 12:00:00|1524523277|  860355551|   Sonic       12-19|   0.93|1410131357|
|2017-08-30 18:00:00| 348239856| 1768219832|unkn     arc id: ...|  40.35| 481821583|
|2017-11-23 20:00:00|1818459158| 1232435973|Toys R Us     arc...| 2472.7| 814348903|
|2017-12-04 13:00:00| 389577000| 1647858807|Verizon Wireless ...|   71.9|1439918695|
|2017-11-26 12:00:00|1096904243|  865681996|Nordstrom   ccd i...| 1666.2|1107275933|
|2017-12-24 21:00:00| 442311947|  400404203|  CVS       Ashgabat|   0.73| 957346984|
|2017-12-21 13:00:00|1124093234| 1076023740|Aldi  ccd id: 543...|  25.97|1296036143|
+-------------------+----------+-----------+--------------------+-------+----------+
only showing top 20 rows

In [14]:
import time

def get_time(func):
    def inner_get_time() -> str:
        start_time = time.time()
        func()
        end_time = time.time()
        return (f"Execution time: {(end_time - start_time)*1000} ms")
    print(inner_get_time())

In [15]:
@get_time
def x():
    df = spark.read.format("parquet").load("data/input/sales_data.parquet")
    df.count()

Execution time: 583.8000774383545 ms

In [16]:
@get_time
def x():
    df = spark.read.format("parquet").load("data/input/sales_data.parquet")
    df.select("trx_id").count()

Execution time: 220.10350227355957 ms

In [25]:
@get_time
def x():
    df = spark.read.format("csv").option("header", True).option("inferSchema", True).load("data/input/sales.csv")
    df.select("trx_id").count()

Execution time: 1225.189447402954 ms